.Luces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
    gap: 5px;

}

button{
    width: 100px;
    height: 50px;
    
}
button:hover {
    background-color: red;
    cursor: pointer;
}

.encendido {
    background-color: #fff9c4;
}
.Luces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
    gap: 5px;

}


.encendido {
    background-color: #fff9c4;
}